.pokemon_name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    /* height: 100vh; */
    color: white;
    margin: 8px;
}

.my_card{
    min-width: 104px;
    max-width: 104px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: scale 0.2s ease-in-out;
}

.hover_effect{
    /* width: auto; */
    transition: box-shadow 0.15s ease, transform 0.15s ease, scale 0.15s ease;
}

.hover_effect:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    scale: 1.05;
}

.full-screen{
    position: fixed;
    top: 200px;
    /*left: 0; */
    /* min-width: 312px; */
    scale: 3;
    /* height: 70%; */
    background-color: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    justify-content: center;
    z-index: 3;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    z-index: 2;
    /* pointer-events: none; */
}

.pokemon-id {
    font-size: 12px;
    font-weight: 700;
    color: #161615;
    text-align: center;
    margin-top: -10px;
}

.abilities {
    font-size: 7px;
    margin-left: 5px;
    font-weight: 500;
    color: #161615;
    width: min-content;
}
.ability-item {
    margin-left: 10px;
    font-size: 5px;
    text-align: center;
    text-justify: inter-cluster;
    font-weight: 500;
    width: max-content;
    color: #161615;
    padding: 0px 2px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
}
.base-experience {
    margin-left: 5px;
    font-size: 7px;
    font-weight: 500;
    color: #161615;
}

.chip {
    display: inline-block;
    background-color: #d7d5d2;
    color: #333;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 10px 0px 10px 10px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border: none;
}

.chip:hover {
    background-color: #c9c6c3;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
  
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageId{
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 0 10px;
}